.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: 600;
}

.homeText {
  margin-bottom: 80px;
  font-size: 1.4rem;
  font-weight: 600;
}

.moveSignupPageButton {
  border: 1px solid #ccc;
  border-radius: 2px;
  background: transparent;
  padding: 10px;
}
